In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt
import seaborn as sn
%matplotlib inline

In [10]:
df = pd.read_csv("/home/growlt199/Downloads/manufacturing_project/data/flight_processed_data_wo_stops.csv",index_col=0)

In [11]:
df.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,travel_route
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,Delhi-Mumbai
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,Delhi-Mumbai
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,Delhi-Mumbai
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955,Delhi-Mumbai
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955,Delhi-Mumbai

In [40]:
import csv

filename = '/home/growlt199/Downloads/manufacturing_project/model_training/data_categorical_column_pvalue.csv'

with open(filename, 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow(['column_name1', 'column_name2', 'statistic', 'p_value', 'dof'])  # Write the header

In [41]:
def chisquare(c1,c2):
    # Create the contingency matrix
    contingency_matrix = pd.crosstab(df[c1], df[c2])

    # Print the contingency matrix
    #print(contingency_matrix)

    from scipy.stats import chi2_contingency

    # Perform chi-square test
    statistic, p_value, dof, expected = chi2_contingency(contingency_matrix)

    # Print the results
    '''
    print("Chi-square statistic:", statistic)
    print("P-value:", p_value)
    print("Degrees of freedom:", dof)
    print("Expected frequencies:", expected)
    '''
    
    filename = '/home/growlt199/Downloads/manufacturing_project/model_training/data_categorical_column_pvalue.csv'
    
    with open(filename, 'a', newline='') as csvfile:
        csvwriter = csv.writer(csvfile)
        csvwriter.writerow([c1,c2,statistic,p_value,dof])  # Write the data row
    
    print(f'data loaded successfully for {c1} and {c2}..')

In [42]:
# Select columns with categorical data type
categorical_columns = df.select_dtypes(include=['object', 'category'])

# Get the column names
categorical_column_names = categorical_columns.columns

# Print the column names
#print(categorical_column_names)

# Iterate through the categorical column names
for i in range(len(categorical_column_names)):
    c1 = categorical_column_names[i]
    for j in range(i+1, len(categorical_column_names)):
        c2 = categorical_column_names[j]
        chisquare(c1, c2)

data loaded successfully for airline and flight..
data loaded successfully for airline and source_city..
data loaded successfully for airline and departure_time..
data loaded successfully for airline and stops..
data loaded successfully for airline and arrival_time..
data loaded successfully for airline and destination_city..
data loaded successfully for airline and class..
data loaded successfully for airline and travel_route..
data loaded successfully for flight and source_city..
data loaded successfully for flight and departure_time..
data loaded successfully for flight and stops..
data loaded successfully for flight and arrival_time..
data loaded successfully for flight and destination_city..
data loaded successfully for flight and class..
data loaded successfully for flight and travel_route..
data loaded successfully for source_city and departure_time..
data loaded successfully for source_city and stops..
data loaded successfully for source_city and arrival_time..
data loaded successfully for source_city and destination_city..
data loaded successfully for source_city and class..
data loaded successfully for source_city and travel_route..
data loaded successfully for departure_time and stops..
data loaded successfully for departure_time and arrival_time..
data loaded successfully for departure_time and destination_city..
data loaded successfully for departure_time and class..
data loaded successfully for departure_time and travel_route..
data loaded successfully for stops and arrival_time..
data loaded successfully for stops and destination_city..
data loaded successfully for stops and class..
data loaded successfully for stops and travel_route..
data loaded successfully for arrival_time and destination_city..
data loaded successfully for arrival_time and class..
data loaded successfully for arrival_time and travel_route..
data loaded successfully for destination_city and class..
data loaded successfully for destination_city and travel_route..
data loaded successfully for class and travel_route..

In [33]:
type(categorical_column_names)

pandas.core.indexes.base.Index